.text-name {
    font-size: 350%;
    padding: 50px;
    letter-spacing: 3px;
    font-family: 'Varela', sans-serif;
}

.text-name::before {
    content: '[ ';
    animation-name: change;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.text-name::after {
    content: ' ]';
    animation-name: change;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes change {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.text-content {
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 30px;
}

@media screen and (max-width: 400px) {
    .text-name {
        font-size: 250%;
        padding: 20px;
        letter-spacing: 1px;
    }
}

.card-image {
    width: auto;
    display: block;
    max-height: 400px;
    box-shadow: 0 0 5px 10px #555;
    transition: .3s;
}

.card-image:hover {
    filter: brightness(80%);
    transform: scale(1.1);
    transition: .3s;
}

.card {
    width: 100%;
    align-content: center;
    border: none;
    background-color: rgba(219, 209, 207, 0.678);
}

.mat-tab-labels {
    font-size: 18px;
}

.card-subtitle {
    font-size: 17px;
}

.card-header {
    background-color: transparent;
    align-content: center;
    margin-left: 10%;
    border: none;
    font-size: 18px;
}

.text-name {
    font-size: 350%;
    padding: 50px;
    letter-spacing: 3px;
}

.text-content {
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 30px;
}

@media screen and (max-width:768px) {
    .card-image {
        width: 100%;
    }
    .card-header {
        width: 95%;
        margin: 0px;
        padding: 0px;
    }
    .card-title {
        margin-bottom: 5px;
        margin-left: 5px;
        padding: 0px;
    }
}
