<nav class="navtop" data-spy="affix" [class.navbarNotTop]="currentSection !== 'title'" [class.navbarTop]="currentSection === 'title'">
    <!-- min 830px -->
    <div *ngIf="!smallDevice" class="navMenu ">
        <div class="container">
            <ul class="navContent">
                <li class="navItem m-auto">
                    <a class="navLink" (click)="scrollTo('title')">
                        <div class="scene">
                            <div class="cube " [class.current]="currentSection === 'title'">
                                <div class="wall front ">{{'nav.home'|translate|titlecase}}</div>
                                <div class="wall bottom"><b>{{'nav.home'|translate|titlecase}}</b></div>
                            </div>
                        </div>
                    </a>

                </li>
                <li class="navItem m-auto">
                    <a class="navLink" (click)="scrollTo('slide1')">
                        <div class="scene">
                            <div class="cube" [class.current]="currentSection === 'slide1'">
                                <div class="wall front">{{'nav.about'|translate|titlecase}}</div>
                                <div class="wall bottom"><b>{{'nav.about'|translate|titlecase}}</b></div>
                            </div>
                        </div>
                    </a>

                </li>
                <li class="navItem m-auto">
                    <a class="navLink" (click)="scrollTo('slide2')">
                        <div class="scene">
                            <div class="cube" [class.current]="currentSection === 'slide2'">
                                <div class="wall front">{{'nav.technology'|translate|titlecase}}</div>
                                <div class="wall bottom"><b>{{'nav.technology'|translate|titlecase}}</b></div>
                            </div>
                        </div>
                    </a>

                </li>
                <li class="navItem m-auto">
                    <a class="navLink" (click)="scrollTo('slide3')">
                        <div class="scene">
                            <div class="cube" [class.current]="currentSection === 'slide3'">
                                <div class="wall front">{{'nav.projects'|translate|titlecase}}</div>
                                <div class="wall bottom"><b>{{'nav.projects'|translate|titlecase}}</b></div>
                            </div>
                        </div>
                    </a>

                </li>
                <li class="navItem m-auto">
                    <a class="navLink" (click)="scrollTo('slide4')">
                        <div class="scene">
                            <div class="cube" [class.current]="currentSection === 'slide4'">
                                <div class="wall front">{{'nav.contact'|translate|titlecase}}</div>
                                <div class="wall bottom"><b>{{'nav.contact'|translate|titlecase}}</b></div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="languages">
            <ul class="languagesContent">
                <li class="mb-2">
                    <a class="" (click)="changeLanguage('pl')">
                        <div class="scene">
                            <div class="cube" [class.current]="currentLanguage === 'pl'">
                                <div class="wall front">Polski</div>
                                <div class="wall bottom"><b>Polski</b></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class=" ">
                    <a class="" (click)="changeLanguage('en')">
                        <div class="scene">
                            <div class="cube" [class.current]="currentLanguage === 'en'">
                                <div class="wall front">English</div>
                                <div class="wall bottom"><b>English</b></div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <!-- max 830px -->
    <div *ngIf="smallDevice" class="menu" [class.opened]="smallMenu" [class.smallMenuOff]="!smallMenu"> <button (click)="toggleSmallMenu()" class="smallMenuHamburger">
      <svg width="70" height="70" viewBox="0 0 100 100">
        <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
        <path class="line line2" d="M 20,50 H 80" />
        <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
      </svg>
    </button>
        <div class="languages">
            <ul class="languagesContent">
                <li class="mb-2">
                    <a class="" (click)="changeLanguage('pl')">
                        <div class="scene">
                            <div class="cube" [class.current]="currentLanguage === 'pl'">
                                <div class="wall front">Polski</div>
                                <div class="wall bottom"><b>Polski</b></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class=" ">
                    <a class="" (click)="changeLanguage('en')">
                        <div class="scene">
                            <div class="cube" [class.current]="currentLanguage === 'en'">
                                <div class="wall front">English</div>
                                <div class="wall bottom"><b>English</b></div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="smallMenu" [class.smallMenu]="smallMenu" [class.smallMenuOff]="!smallMenu">
        <ul class="">
            <li class="">
                <a class="navLink" (click)="scrollTo('title')">
                    <div class="scene">
                        <div class="cube " [class.current]="currentSection === 'title'">
                            <div class="wall front ">{{'nav.home'|translate|titlecase}}</div>
                            <div class="wall bottom"><b>{{'nav.home'|translate|titlecase}}</b></div>
                        </div>
                    </div>
                </a>

            </li>
            <li class="">
                <a class="navLink" (click)="scrollTo('slide1')">
                    <div class="scene">
                        <div class="cube" [class.current]="currentSection === 'slide1'">
                            <div class="wall front">{{'nav.about'|translate|titlecase}}</div>
                            <div class="wall bottom"><b>{{'nav.about'|translate|titlecase}}</b></div>
                        </div>
                    </div>
                </a>

            </li>
            <li class="">
                <a class="navLink" (click)="scrollTo('slide2')">
                    <div class="scene">
                        <div class="cube" [class.current]="currentSection === 'slide2'">
                            <div class="wall front">{{'nav.technology'|translate|titlecase}}</div>
                            <div class="wall bottom"><b>{{'nav.technology'|translate|titlecase}}</b></div>
                        </div>
                    </div>
                </a>

            </li>
            <li class="">
                <a class="navLink" (click)="scrollTo('slide3')">
                    <div class="scene">
                        <div class="cube" [class.current]="currentSection === 'slide3'">
                            <div class="wall front">{{'nav.projects'|translate|titlecase}}</div>
                            <div class="wall bottom"><b>{{'nav.projects'|translate|titlecase}}</b></div>
                        </div>
                    </div>
                </a>

            </li>
            <li class="">
                <a class="navLink" (click)="scrollTo('slide4')">
                    <div class="scene">
                        <div class="cube" [class.current]="currentSection === 'slide4'">
                            <div class="wall front">{{'nav.contact'|translate|titlecase}}</div>
                            <div class="wall bottom"><b>{{'nav.contact'|translate|titlecase}}</b></div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>




</nav>