    a {
        cursor: pointer;
        transition: 0.2s;
        letter-spacing: 1px;
        font-family: 'Varela', sans-serif;
        transition: 0.2s;
        letter-spacing: 1px;
    }

    .navtop {
        background-color: white;
        width: 100%;
        position: fixed;
        height: 100px;
        box-shadow: 0px 5px 10px black;
    }

    .navMenu {
        position: relative;
        height: 100%;
    }

    .languages {
        position: absolute;
        right: 20px;
    }

    .navItem {
        float: left;
    }

    li {
        list-style: none;
    }

    .container {
        position: relative;
        height: 100%;
        .content {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
    }
    /*navbar cube*/

    .current {
        color: teal !important;
        transform: rotateX(90deg);
        transition: 1s;
    }

    .scene {
        perspective: 1000px;
        position: relative;
        height: 20px;
        width: 100px;
    }

    .cube {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: 0.8s;
    }

    .wall {
        position: absolute;
        width: 100%;
        text-align: center;
    }

    div.front {
        transform: translateZ(10px);
    }

    div.bottom {
        transform: rotateX(-90deg) translateZ(10px);
        border-bottom: black 2px solid;
    }
    /*navbar cube end*/

    .navbarNotTop {
        height: 70px;
        animation: navbarNotTopAnimation 0.7s ease-in-out;
        opacity: 1;
    }

    @keyframes navbarNotTopAnimation {
        0% {
            height: 100px;
            opacity: 0.85;
        }
        100% {
            height: 70px;
            opacity: 1;
        }
    }

    .navbarTop {
        animation: navbarTopAnimation 0.7s ease-in-out;
        height: 100px;
        opacity: 0.85;
    }

    @keyframes navbarTopAnimation {
        0% {
            height: 70px;
            opacity: 1;
        }
        100% {
            height: 100px;
            opacity: 0.85;
        }
    }

    @media screen and (min-width: 600px) {
        a:hover {
            color: teal !important;
            transition: 0.8s;
        }
        .cube:hover {
            transform: rotateX(90deg);
            transition: 1s;
        }
    }

    .menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
        border: none;
        outline: none;
    }

    .line {
        fill: none;
        stroke: black;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
    }

    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }

    .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
    }

    .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }

    .smallMenu {
        background-color: white;
        animation: smallMenuOn 0.3s ease-in-out;
        height: 220px;
        .wall {
            font-size: large;
        }
        ul {
            margin-left: 80px;
            padding: 0;
        }
        li {
            margin-bottom: 20px;
        }
        .scene {
            width: 130px;
        }
    }

    .smallMenuOff {
        background-color: white;
        animation: smallMenuOff .5s ease-in-out;
        width: 100%;
        height: 70px;
    }

    @keyframes smallMenuOn {
        0% {
            height: 70px;
        }
        100% {
            height: 220px;
        }
    }

    @keyframes smallMenuOff {
        0% {
            height: 220px;
        }
        100% {
            height: 0px;
        }
    }
