a {
    cursor: pointer!important;
}

.navtop {
    box-shadow: 0px 5px 10px black;
    width: 100%!important;
    position: fixed;
}

#navbarSupportedContent {
    width: 100%!important;
    background-color: #f8f9fa;
    border-radius: 10px 10px 10px 10px;
}


/*top navbar extension*/

.navbarNotTop {
    height: 70px;
    animation: navbarNotTopAnimation 0.7s ease-in-out;
    opacity: 1;
}

@keyframes navbarNotTopAnimation {
    0% {
        height: 100px;
    }
    100% {
        height: 70px;
    }
}

.navbarTop {
    animation: navbarTopAnimation 0.7s ease-in-out;
    height: 100px;
    opacity: 0.85;
}

@keyframes navbarTopAnimation {
    0% {
        height: 70px;
    }
    100% {
        height: 100px;
    }
}


/*top navbar extension end*/


/*navbar items animation*/

a:hover {
    color: teal!important;
    transition: 0.8s;
}

a {
    transition: 0.2s;
    letter-spacing: 1px;
}

.active {
    color: teal!important;
    transform: rotateX(90deg);
    transition: 1s;
}

.inactive {}


/*navbar items animation end*/


/*navbar cube*/

.scene {
    perspective: 1000px;
    position: relative;
    height: 20px;
    width: 100px;
}

.cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: 0.8s;
}

.wall {
    position: absolute;
    width: 100%;
    text-align: center;
}

div.front {
    transform: translateZ(10px);
}

div.bottom {
    transform: rotateX(-90deg) translateZ(10px);
    border-bottom: black 2px solid;
}

.cube:hover {
    transform: rotateX(90deg);
    transition: 1s;
}


/*navbar cube end*/

@media screen and (max-width: 992px) {
    .active {
        border-bottom: none;
    }
    .navbarTop {
        opacity: 1;
    }
}
