<div data-aos="fade-up-left" class="container text-center slide-content">
    <div class="row">
        <div class="col-sm m-3 ">
            <h3><strong>O mnie</strong></h3>
            <div class="about-text">
                <p>Nazywam się Rafał Bujok i od ponad roku tworzę <strong>strony internetowe</strong>.</p>
                <p>Pracuję jako freelancer i chętnie wykonam dla Ciebie jakiś projekt.</p>
            </div>
        </div>
        <div class="col-sm m-3 bgFrame">

            <img src="../../assets/rb.jpg">

        </div>
    </div>
</div>
