.text-name {
    font-size: 350%;
    padding: 50px;
    letter-spacing: 3px;
    font-family: 'Varela', sans-serif;
}

.text-name::before {
    content: '[ ';
    animation-name: change;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.text-name::after {
    content: ' ]';
    animation-name: change;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#con2 {
    display: none
}

@keyframes change {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@media screen and (max-width: 320px) {
    .text-name {
        font-size: 300%;
        padding: 40px;
        letter-spacing: 2px;
    }
    .image-place {
        display: none
    }
}

@media screen and (max-width: 425px) {
    .text-name {
        font-size: 300%;
        padding: 40px;
        letter-spacing: 2px;
    }
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f6f8;
}

.container {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    &__image {
        position: relative;
        clip-path: polygon(6% 41%, 26% 35%, 15% 0%, 60% 15%, 82% 9%, 79% 46%, 96% 70%, 84% 86%, 68% 92%, 46% 75%, 16% 100%, 20% 66%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 350px;
        height: 350px;
        transform: translateX(200px);
        border-radius: 50%;
        background-image: url("../../assets/rb.jpg");
        background-size: cover;
        transition: ease-in-out .3s;
        z-index: 2;
        &:before {
            content: ' ';
            position: absolute;
            width: 100%;
            height: 100%;
            right: 0;
            background: inherit;
            background-position: bottom;
            filter: blur(40px) saturate(0%);
            transform: scaleX(0.4);
            transition: ease-in-out .4s;
            border-radius: 120px;
            transform-origin: right;
            opacity: 0;
            z-index: -1;
        }
        .container__info {
            position: relative;
            line-height: 1.8;
            transition: ease-in-out .3s;
            opacity: 0;
            width: 400px;
            font-size: 20px;
            font-weight: 500;
            font-family: 'Varela', sans-serif;
        }
        .container__location {
            transition-delay: .15s;
        }
        &:hover {
            clip-path: none;
            border-radius: 0;
            width: 400px;
            height: 600px;
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
            &:before {
                width: 100%;
                opacity: 0.18;
                filter: blur(10px) saturate(100%);
                transform: scale(2.8) translate3d(-18%, 0px, 0px);
            }
            .container__info {
                transform: translate3d(-130%, 0px, 0px);
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .container {
        &__image {
            width: 350px;
            height: 350px;
            transform: translateX(200px);
            .container__info {
                width: 400px;
                font-size: 20px;
                font-weight: 500;
                font-family: 'Varela', sans-serif;
            }
            &:hover {
                width: 400px;
                height: 600px;
                .container__info {
                    transform: translate3d(-110%, 0px, 0px);
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .container {
        &__image {
            width: 350px;
            height: 350px;
            transform: translateX(180px);
            .container__info {
                width: 300px;
                font-size: 20px;
                font-weight: 500;
            }
            &:hover {
                width: 400px;
                height: 600px;
                .container__info {
                    transform: translate3d(-110%, 0px, 0px);
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .container {
        &__image {
            width: 300px;
            height: 300px;
            transform: translateX(80px);
            .container__info {
                width: 170px;
                font-size: 17px;
                font-weight: 500;
                line-height: 20px;
                font-family: 'Varela', sans-serif;
            }
            &:hover {
                width: 300px;
                height: 400px;
                .container__info {
                    transform: translate3d(-105%, 0px, 0px);
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 510px) {
    #con1 {
        display: none;
    }
    #con2 {
        display: block;
    }
}
