.image-me {
    width: 400px;
    border-radius: 3%;
    border: solid black 2px;
    box-shadow: 0 8px 16px 0 rgb(102, 91, 101), 0 12px 40px 0 rgb(0, 0, 0);
    text-align: center;
    display: block;
}

.text-name {
    font-size: 350%;
    padding: 50px;
    letter-spacing: 3px;
    ;
}

.text-name::before {
    content: '[ ';
    animation-name: change;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.text-name::after {
    content: ' ]';
    animation-name: change;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes change {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.text-content {
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 30px;
}

@media screen and (max-width: 320px) {
    .text-name {
        font-size: 300%;
        padding: 40px;
        letter-spacing: 2px;
    }
    .image-place {
        display: none
    }
}

@media screen and (max-width: 425px) {
    .text-name {
        font-size: 300%;
        padding: 40px;
        letter-spacing: 2px;
    }
    .image-place {
        display: none
    }
}

@media screen and (max-width: 768px) {
    .text-name {
        font-size: 300%;
        padding: 40px;
        letter-spacing: 2px;
    }
    .image-me {
        width: 250px;
    }
}
