<h1 data-aos="fade-up" class="text-center text-name">{{'nav.about'|translate|titlecase}}</h1>


<div data-aos="fade-left" class="container" id="con1">
    <div class="container__image">
        <div class="container__info m-1">{{'about.info'|translate}}</div>
        <div class="container__info m-1">{{'about.intrests'|translate}}</div>
    </div>
</div>
<div data-aos="fade-left" class="container m-3 p-3" style="width:300px" id="con2">
    <div class="row m-1 ">

        <div class="col-sm ">{{'about.info'|translate}}</div>


    </div>
    <div class="row m-1">
        <div class="col-sm ">{{'about.intrests'|translate}}</div>
    </div>
</div>