.image-me {
    width: 400px;
    border-radius: 3%;
    border: solid black 2px;
    box-shadow: 0 8px 16px 0 rgb(102, 91, 101), 0 12px 40px 0 rgb(0, 0, 0);
    text-align: center;
    display: block;
}

.text-name {
    font-size: 350%;
    padding: 50px;
}

.text-content {
    font-size: 18px;
    color: cornsilk;
}
