<h1 data-aos="fade-up" class="text-center text-name">O mnie</h1>

<div class="container">
    <div class="row">
        <div data-aos="fade-right" class="col text-content">
            <div class="container">
                <div class="row mb-2">
                    <p>Nazywam się Rafał Bujok, projektuje i wykonuje <strong>aplikacje internetowe</strong>. Głównie tworzę we frameworku <strong>Angular</strong>.
                </div>
                <div class="row ml-1">
                    <p>Moim zainteresowaniem są nowe technologie, gry planszowe i e-sport.</p>

                </div>
            </div>

        </div>

        <div data-aos="fade-left" class="col image-place">
            <img class="image-me mx-auto mb-5" src="../../assets/rb.jpg">
        </div>
    </div>
</div>
