.text-name {
    font-size: 350%;
    padding: 50px;
    letter-spacing: 3px;
    font-family: 'Varela', sans-serif;
}

.text-name::before {
    content: '[ ';
    animation-name: change;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.text-name::after {
    content: ' ]';
    animation-name: change;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes change {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@media screen and (max-width: 320px) {
    .text-name {
        font-size: 300%;
        padding: 40px;
        letter-spacing: 2px;
    }
    .image-place {
        display: none
    }
}

@media screen and (max-width: 425px) {
    .text-name {
        font-size: 300%;
        padding: 40px;
        letter-spacing: 2px;
    }
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #f4f6f8;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    &__image {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-image: url("../../assets/rb.jpg");
        background-size: cover;
        transition: ease-in-out .3s;
        z-index: 2;
        &:before {
            content: ' ';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            background: inherit;
            background-position: bottom;
            filter: blur(40px) saturate(0%);
            transform: scaleX(0.4);
            transition: ease-in-out .4s;
            border-radius: 120px;
            transform-origin: right;
            opacity: 0;
            z-index: -1;
        }
        .container__info {
            position: relative;
            line-height: 1.8;
            transition: ease-in-out .3s;
            opacity: 0;
            width: 270px;
            font-size: 20px;
            font-weight: 500;
            font-family: 'Varela', sans-serif;
        }
        .container__location {
            transition-delay: .15s;
        }
        &:hover {
            border-radius: 0;
            width: 400px;
            height: 600px;
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
            &:before {
                width: 100%;
                opacity: 0.18;
                filter: blur(10px) saturate(100%);
                transform: scale(2.8) translate3d(-18%, 0px, 0px);
            }
            .container__info {
                transform: translate3d(-120%, 0px, 0px);
                opacity: 1;
            }
        }
    }
}
