/*title component*/


/* .large-header {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-position: center;
    z-index: -1;
}

.title {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 18px;
    top: 45%;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    background: rgba(236, 232, 220, 0.486);
    box-shadow: 0 0 8px rgba(247, 247, 247, 0.507);
    transform: translateZ(0.3px);
    color: rgba(17, 16, 16, 0.925);
} */

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#can1 {
    z-index: 0;
}

#can2 {
    opacity: 70%;
    z-index: 1;
    left: 30%;
    top: 30%;
}


/*title component end*/

@media screen and (max-width: 992px) {
    #can2 {
        left: 10%;
    }
}
