/*title component*/

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#can1 {
    z-index: 0;
}

#can2 {
    opacity: 70%;
    z-index: 1;
    left: 30%;
    top: 30%;
}


/*title component end*/

@media screen and (max-width: 992px) {
    #can2 {
        left: 10%;
    }
}

@media screen and (max-width: 375px) {
    #can2 {
        left: 0%;
        width: 375px
    }
}

@media screen and (max-width: 320px) {
    #can2 {
        left: 0%;
        width: 320px
    }
}
