<div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>

</div>

<div class="col-sm">

</div>
<div class="container center">
    <div class="col-sm">
        Front-End Web Developer
        <button class="btn btn-primary m-3 p-3" (click)="scrollTo('slide1')">Więcej o mnie</button>
    </div>
    <div class="col-sm">
        <div class="container">
            <div class="row">
                <div class="col-sm m-2 p-2">Rafał Bujok</div>
            </div>

        </div>

    </div>
</div>
