/*title component*/

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#can1 {
    z-index: 0;
    width: 100%;
}

#can2 {
    opacity: 70%!important;
    z-index: 1;
    left: 30%;
    top: 30%;
}


/*title component end*/

@media only screen and (max-width: 425px) {
    #can2 {
        width: 70%;
        left: 10%;
    }
}
