<div id="parentDiv" scrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)">
    <app-navbar>
    </app-navbar>

    <div id="title" class="slide header">
        <app-title></app-title>
    </div>

    <div id="slide1" class="slide">
        <app-slide1></app-slide1>

    </div>

    <div id="slide2" class="slide">
        <app-slide2></app-slide2>

    </div>

    <div id="slide3" class="slide">
        <app-slide3></app-slide3>

    </div>

    <div id="slide4" class="slide header">
        <app-slide4></app-slide4>

    </div>
</div>
