.slide {
    position: relative;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
    padding-top: 75px;
}

#parentDiv {
    width: 100%;
}

.slide,
.slide:before {
    background: 50% 50% / cover;
}

#title {
    background-color: black;
    z-index: 2;
    padding-top: 0;
    ;
}

.slide:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
    z-index: -1;
}

#slide1:before {
    transform: translateZ(-1px) scale(2);
    background-color: rgb(73, 190, 206);
}

#slide1 {
    background-color: #34626c;
}

#slide2 {
    background-color: #839b97;
    z-index: 2;
}

#slide3:before {
    transform: translateZ(-1px) scale(2);
    background-color: rgb(216, 24, 158);
}

#slide3 {
    background-color: #cfd3ce;
}

#slide4 {
    background: #5f7275;
}

body {
    width: 100%;
}

@media screen and (max-width: 375px) {
    .slide {
        padding-top: 55px;
    }
}
