.slide {
    position: relative;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
    transform-style: inherit;
    padding-top: 75px;
}

#parentDiv {
    width: 100%;
}

.slide,
.slide:before {
    background: 50% 50% / cover;
}

#title {
    background-color: black;
    z-index: 2;
    padding-top: 0;
}

.slide:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#slide1:before {
    transform: translateZ(-1px) scale(2);
    background-color: rgb(73, 190, 206);
}

#slide1 {
    background-image: url("/../../assets/bg.jpg");
}

#slide2 {
    background-image: url("/../../assets/bg2.jpg");
    z-index: 2;
}

#slide3:before {
    transform: translateZ(-1px) scale(2);
}

#slide3 {
    background-image: url("/../../assets/bg3.jpg");
}

#slide4 {
    background-image: url("/../../assets/bg4.jpg");
}

body {
    width: 100%;
}

@media screen and (max-width: 375px) {
    .slide {
        padding-top: 55px;
    }
}
