.slide {
    position: relative;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
}

.slide,
.slide:before {
    background: 50% 50% / cover;
}

#title {
    background-color: black;
    z-index: 2;
}

.slide:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
    z-index: -1;
}

#slide1:before {
    /*background-image: url("assets/bg01.jpg");*/
    transform: translateZ(-1px) scale(2);
    background-color: rgb(73, 190, 206);
}

#slide2 {
    padding-top: 10%;
    ;
    background-color: rgb(64, 167, 141);
    z-index: 2;
}

#slide3:before {
    /*background-image: url("assets/bg01.jpg");*/
    transform: translateZ(-1px) scale(2);
    background-color: rgb(216, 24, 158);
}

#slide3 {}

#slide4 {
    background: #222;
}

body {
    width: 100%;
}