.nav {
    top: 0;
    position: sticky;
    z-index: 10;
    width: 100% !important;
}

.parallax {
    top: 0;
    position: absolute;
    width: 100%;
}

.wave {
    height: 500%;
    width: 10%;
    position: absolute;
    z-index: 3;
    opacity: 50%;
}

.wave2 {
    height: 500%;
    width: 10%;
    right: 0;
    position: absolute;
    z-index: 3;
    opacity: 50%;
}

.wave-content {
    height: 100%;
    width: 100%;
}

.wave-content2 {
    height: 100%;
    width: 100%;
    float: right;
}

@media screen and (max-width:425px) {
    .bgFrame {
        display: none;
    }
}

@media screen and (max-height:748px) {
    .wave {
        display: none;
    }
    .wave2 {
        display: none;
    }
}

@media screen and (max-width:770px) {
    .wave {
        display: none;
    }
    .wave2 {
        display: none;
    }
}
