<h1 data-aos="fade-up" class="text-center text-name">{{'nav.contact'|translate|titlecase}}</h1>
<div data-aos="fade-right" class=" text-content text-center">
    <p style="font-size: 24px;">{{'contact.contactMe'|translate}}</p>
    <p>tel: 509969389</p>
    <p>e-mail: rafal.bujok[at]gmail.com</p>
    <a href="https://github.com/rafalBujok" target="_blank"><img class="icon" [src]="'assets/git.png'"></a>

</div>
<div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; 2020-{{year}} rafalbujok.me</small>
        </div>
    </footer>
</div>
