#sticky-footer {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    flex-shrink: none;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: aliceblue;
}

.text-name {
    font-size: 350%;
    padding: 50px;
}
