#sticky-footer {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    flex-shrink: none;
}

p {
    letter-spacing: 1px;
    font-family: 'Varela', sans-serif;
    font-size: medium;
    color: aliceblue;
}

.text-name {
    font-size: 350%;
    padding: 50px;
    letter-spacing: 3px;
    font-family: 'Varela', sans-serif;
}

.text-name::before {
    content: '[ ';
    animation-name: change;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.text-name::after {
    content: ' ]';
    animation-name: change;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.icon {
    width: 48px;
    height: 48px;
    display: inline-block;
    transition: .3s;
}

.icon:hover {
    transition: .3s;
    width: 64px;
    height: 64px;
}

@keyframes change {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@media screen and (max-width: 320px) {
    .text-name {
        font-size: 300%;
        padding: 40px;
        letter-spacing: 3px;
        ;
    }
}
