.card-image {
    width: 50%;
    display: block;
}

.card {
    width: 100%;
    align-content: center;
    border: none;
    background-color: #cfd3ce;
}

.card-subtitle {}

.card-header {
    background-color: transparent;
    align-content: center;
    margin-left: 10%;
    border: none;
}
