html {
    height: 100%;
    overflow: auto;
}

.bg-title {
    padding: 5%;
    border-radius: 5px;
    background: rgba(240, 230, 220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

#navbarSupportedContent {
    background-attachment: fixed;
    background-color: #f7f7f7cb;
    width: 100%;
    border-radius: 5px;
}

a {
    cursor: pointer!important;
}


/*top navbar extension*/

.navbarNotTop {
    height: 50px;
    animation: navbarNotTopAnimation 0.7s ease-in-out;
}

@keyframes navbarNotTopAnimation {
    0% {
        height: 80px;
    }
    100% {
        height: 50px;
    }
}

.navbarTop {
    animation: navbarTopAnimation 0.7s ease-in-out;
    height: 80px;
}

@keyframes navbarTopAnimation {
    0% {
        height: 50px;
    }
    100% {
        height: 80px;
    }
}


/*top navbar extension end*/


/*navbar items animation*/

a:hover {
    color: red!important;
    transition: 0.8s;
    transform: translate(0px, -3px)
}

a {
    transition: 0.2s;
}

.active {
    color: red!important;
    transform: translate(0px, -3px);
    border-bottom: 1px solid wheat;
}


/*navbar items animation end*/


/*parallax*/

body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1 {
    font-size: 250%
}

p {
    font-size: 140%;
    line-height: 150%;
    color: #333;
}

.slide {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
}

img {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 320px;
    height: 240px;
    transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
    padding: 10px;
    border-radius: 5px;
    background: rgba(240, 230, 220, 0.1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

img:last-of-type {
    transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.slide:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
    z-index: -1;
}

.slide:nth-child(2n) .title {
    margin-left: 0;
    margin-right: auto;
}

.slide:nth-child(2n+1) .title {
    margin-left: auto;
    margin-right: 0;
}

.slide,
.slide:before {
    background: 50% 50% / cover;
}

.header {
    text-align: center;
    font-size: 175%;
    color: #fff;
    text-shadow: 0 2px 2px #000;
}

#title {
    background-image: url("assets/foto1done.jpg");
    z-index: 2;
}

#slide1:before {
    /*background-image: url("assets/bg01.jpg");*/
    transform: translateZ(-1px) scale(2);
    background-color: rgb(154, 180, 58);
}

#slide1 {
    padding: 25vh 10%;
}

#slide2 {
    /*background-image: url("assets/bg02.jpg");*/
    background-color: rgb(187, 60, 51);
    z-index: 2;
    padding: 25vh 10%;
}

#slide3:before {
    /*background-image: url("assets/bg01.jpg");*/
    transform: translateZ(-1px) scale(2);
    background-color: rgb(216, 24, 158);
}

#slide3 {
    padding: 25vh 10%;
}

#slide4 {
    background: #222;
    padding: 25vh 10%;
}


/*parallax end*/

.large-header {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-position: center center;
    z-index: -1;
}

.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
