html {
    height: 100%;
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}
